<!-- BEGIN PAGE HEADER-->
<div class="top-section center-text">
  <h1>
    Edit <%= @pet.name %>
  </h1>
</div>
<!-- END PAGE HEADER-->

<div class="center-alignment center-text">
  <%= form_for :pet, url: { action: "update" }, method: :PUT do |f| %>
    <%= render 'shared/error_messages', object: @pet %>
    <div class="form-group">
      <%= f.label "Name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Breed" %>
      <%= f.text_field :breed, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Age" %>
      <%= f.text_field :age, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Location" %>
      <%= f.text_field :location, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "About" %>
      <%= f.text_area :about, class: "form-control" %>
    </div>

    <%= f.button "Save", id: "save-pet-btn", class: "btn" %>
  <% end %>
</div>
