<!-- BEGIN PAGE HEADER-->
<div class="top-section center-text">
  <h1>
    List of pets for adoption
  </h1>
</div>
<!-- END PAGE HEADER-->

<div class="row">
  <% @pets.each do |pet| %>
    <%= link_to pet_path(pet.id) do %>
      <div class="card-component pet hvr-sweep-to-right col-md-4 adopted-<%= pet.adopted %>">
        <div class="card-frame">
          <%= image_tag "#{pet.picture}", class: "card-img" %>
        </div>
        <div class="card-title">
          <div class="card-name">
            <h2><%= pet.name %></h2>
          </div>
          <div class="card-edit">
            <% if pet_owner?(@current_user, pet) %>
              <%= link_to fa_icon("pencil"), edit_pet_path(pet.id) %>
            <% end %>
          </div>
        </div>
        <div class="card-info">
          <p>Species: <%= pet.species %></p>
          <p>Location: <%= pet.location %></p>
          <p>Adopted? <%= adopted_icon(pet) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @pets.blank? %>
    <p>No pet registered yet!</p>
  <% end %>
</div>
