<!-- BEGIN PAGE HEADER-->
<div class="top-section center-text">
  <h1>
    List of pets for adoption
  </h1>
</div>
<!-- END PAGE HEADER-->

<% @pets.each do |pet| %>
  <div class="users-list">
    <div class="user-card">
      <h2><%= pet.name %></h2>
      <p class="item"><strong>Age</strong>: <%= pet.age %></p>
      <p class="item"><strong>Species</strong>: <%= pet.species %></p>
      <p class="item"><strong>Breed</strong>: <%= pet.breed %></p>
      <p class="item"><strong>Adopted?</strong>: <%= pet.adopted ? "Yes!!!" : "Waiting for a home" %></p>
      <p class="item"><strong>Contact</strong>: <%= pet.user.email %></p>
      <p class="item"><strong>Location</strong>: <%= pet.location %></p>
      <p class="item"><strong>About</strong>: <%= pet.about %></p>
      <div class="">
        <% if pet_owner?(@current_user, pet) %>
          <%= link_to fa_icon("pencil", text: "Edit"), edit_pet_path(pet.id), class: "btn" %>
        <% end %>
        <%= link_to fa_icon("paw", text: "Show"), pet_path(pet.id), class: "btn"%>
      </div>
    </div>
  </div>
<% end %>
<% if @pets.blank? %>
  <p>Nenhum usuário</p>
<% end %>
