<!-- BEGIN PAGE HEADER-->
<div class="top-section center-text">
  <h1>
    <%= @pet.name %>
  </h1>
</div>
<!-- END PAGE HEADER-->

<div class="row center-text">
  <p class="item">
    <%= image_tag "#{@pet.picture}", class: "pet-show-image" %>
  </p>
  <p class="item"><strong>Age</strong>: <%= @pet.age %></p>
  <p class="item"><strong>Species</strong>: <%= @pet.species %></p>
  <p class="item"><strong>Breed</strong>: <%= @pet.breed %></p>
  <p class="item"><strong>Status</strong>: <%= adopted_status(@pet) %></p>
  <p class="item"><strong>Contact</strong>: <%= @pet.user.email %></p>
  <p class="item"><strong>Location</strong>: <%= @pet.location %></p>
  <p class="item"><strong>About</strong>: <%= @pet.about %></p>
  <div class="">
    <% if pet_owner?(@current_user, @pet) %>
      <%= link_to fa_icon("pencil", text: "Edit"), edit_pet_path(@pet.id), class: "btn" %>
      <%= link_to fa_icon("times", text: "Delete pet info"), pet_path(@pet.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "btn" %>
    <% end %>
  </div>
</div>
