<!-- BEGIN PAGE HEADER-->
<div class="top-section center-text">
  <h1>
    <%= @pet.name %>
  </h1>
</div>
<!-- END PAGE HEADER-->

<div class="center-text">
  <p class="item"><strong>Age</strong>: <%= @pet.age %></p>
  <p class="item"><strong>Breed</strong>: <%= @pet.breed %></p>
  <p class="item"><strong>Status</strong>: <%= @pet.status ? "Adopted!!!" : "Waiting for a home" %></p>
  <p class="item"><strong>Contact</strong>: <%= @pet.user.email %></p>
  <p class="item"><strong>Location</strong>: <%= @pet.location %></p>
  <p class="item"><strong>About</strong>: <%= @pet.about %></p>
  <div class="">
    <% if @current_user.present? && @pet.id == @current_user.id %>
      <%= link_to fa_icon("pencil", text: "Edit"), edit_pet_path(@pet.id), class: "btn" %>
    <% end %>
  </div>
</div>
