<!-- BEGIN PAGE HEADER-->
<div class="top-section center-text">
  <h1>
    Edit user
  </h1>
</div>
<!-- END PAGE HEADER-->

<div class="center-alignment center-text">
  <%= form_for :user, url: { action: "update" }, method: :PUT do |f| %>
    <%= render 'shared/error_messages', object: @user %>
    <div class="form-group">
      <%= f.label "Name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "E-mail" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Location" %>
      <%= f.text_field :location, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "About" %>
      <%= f.text_area :about, class: "form-control" %>
    </div>

    <% if @current_user.present? && @current_user.admin %>
      <div class="form-group">
        <%= f.label "Admin" %>
        <%= f.check_box :admin, class: "form-control" %>
      </div>
    <% end %>

    <%= f.button "Save", id: "save-btn", class: "btn" %>
  <% end %>
</div>
