<!-- BEGIN PAGE HEADER-->
<div class="top-section center-text">
  <h1>
    List of users
  </h1>
</div>
<!-- END PAGE HEADER-->

<div class="row">
  <% @users.each do |user| %>
    <%= link_to user_path(user.id) do %>
      <div class="card-component user hvr-sweep-to-right col-md-4">
        <div class="card-title">
          <div class="card-name">
            <h2><%= user.name %></h2>
          </div>
          <div class="card-edit">
            <% if user_admin?(@current_user) %>
              <%= link_to fa_icon("pencil"), edit_user_path(user.id) %>
            <% end %>
          </div>
        </div>
        <p class="item"><i class="fa fa-envelope" aria-hidden="true"></i> Contact: <%= user.email %></p>
        <p class="item"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: <%= user.location %></p>
        <p class="item"><i class="fa fa-info" aria-hidden="true"></i> About: <%= user.about %></p>
      </div>
    <% end %>
  <% end %>
</div>
<% if @users.blank? %>
  <p>No user registered yet!<i class="fa fa-frown-o" aria-hidden="true"></i></p>
<% end %>
