<!-- BEGIN PAGE HEADER-->
<div class="top-section center-text">
  <h1>
    List of users
  </h1>
</div>
<!-- END PAGE HEADER-->

<% @users.each do |user| %>
  <div class="users-list">
    <div class="user-card">
      <h2><%= user.name %></h2>
      <p class="item"><strong>Contact</strong>: <%= user.email %></p>
      <p class="item"><strong>Location</strong>: <%= user.location %></p>
      <p class="item"><strong>About</strong>: <%= user.about %></p>
      <div class="">
        <% if user_admin?(@current_user) %>
          <%= link_to fa_icon("pencil", text: "Edit"), edit_user_path(user.id), class: "btn hvr-sweep-to-right" %>
        <% end %>
        <%= link_to fa_icon("paw", text: "Show"), user_path(user.id), class: "btn hvr-sweep-to-right"%>
      </div>
    </div>
  </div>
<% end %>
<% if @users.blank? %>
  <p>No user registered yet!<i class="fa fa-frown-o" aria-hidden="true"></i></p>
<% end %>
