<!DOCTYPE html>
<html>
  <head>
    <title>Adopt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
      <header id="header">
        <%= link_to root_path do %>
          <img src="/images/Logo2.png" alt="Logo" height="65px" style="margin-top: 5px; margin-left: 10px;" />
        <% end %>
        <nav class="links">
          <ul>
            <li><%= link_to fa_icon("plus", text: "Add pet for adoption"), new_pet_path %></li>
            <li><%= link_to fa_icon("paw", text: "Check out pets"), pets_path %></li>
            <% if @current_user.present? %>
              <li><%= link_to fa_icon("user", text: @current_user.name), edit_user_path(@current_user.id) %></li>
              <li><%= link_to fa_icon("sign-out", text: "Logout"), logout_path %></li>
            <% else %>
              <li><%= link_to fa_icon("sign-in", text: "Login"), login_path %></li>
            <% end %>
            <li><%= link_to fa_icon("user-plus", text: "Signup"), new_user_path %></li>
            <li><%= link_to fa_icon("users", text: "List users"), users_path %></li>
          </ul>
        </nav>
      </header>

      <!-- Warnings and Notices -->
      <% if flash[:error].present? && flash[:error].kind_of?(Array) %>
        <div class="alert alert-error" id="error">
          <% flash[:error].each do |error| %>
            <p><%= error.to_s %></p>
          <% end %>
        </div>
      <% end %>

      <% if flash[:error].present? && flash[:error].kind_of?(String) %>
        <div class="alert alert-error" id="error"><%= flash[:error] %></div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-success" id="notice"> <%= flash[:notice] %></div>
      <% end %>

      <!-- Main -->
      <div id="main">
        <%= yield %>
      </div>
    </div>

  </body>

  <footer>
    <div id="footer">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </footer>
</html>
