<!DOCTYPE html>
<html>
  <head>
    <title>Adopt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
      <header id="header">
        <nav class="links long-shadow left-header">
          <ul>
            <li><%= link_to fa_icon("plus", text: "Add pet for adoption"), new_pet_path %></li>
            <li><%= link_to fa_icon("paw", text: "Check out pets"), pets_path %></li>
          </ul>
        </nav>
        <div class="logo-header">
          <%= link_to root_path do %>
            <img src="/images/Logo2.png" alt="Logo" height="90px" style="margin-top: 5px; margin-left: 10px; overflow: visible;" />
          <% end %>
        </div>
        <nav class="links long-shadow right-header">
          <ul>
            <% if @current_user.present? %>
              <li><%= link_to fa_icon("user", text: @current_user.username), edit_user_path(@current_user.id) %></li>
              <li><%= link_to fa_icon("sign-out", text: "Logout"), logout_path %></li>
            <% else %>
              <li><%= link_to fa_icon("sign-in", text: "Login"), login_path %></li>
              <li><%= link_to fa_icon("user-plus", text: "Signup"), new_user_path %></li>
            <% end %>
            <% if user_admin?(@current_user) %>
              <li><%= link_to fa_icon("users", text: "List users"), users_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>

      <div class="content">
        <!-- Warnings and Notices -->
        <% if flash[:error].present? && flash[:error].kind_of?(Array) %>
          <div class="alert alert-error" id="error">
            <% flash[:error].each do |error| %>
              <p><%= error.to_s %></p>
            <% end %>
          </div>
        <% end %>

        <% if flash[:error].present? && flash[:error].kind_of?(String) %>
          <div class="alert alert-error" id="error"><%= flash[:error] %></div>
        <% end %>

        <% if flash[:notice] %>
          <div class="alert alert-success" id="notice"> <%= flash[:notice] %></div>
        <% end %>

        <!-- Main -->
        <div id="main container">
          <%= yield %>
        </div>
      </div>

    </div>

  </body>

  <footer>
    <div id="footer">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </footer>
</html>
